.about {
  padding: 1rem;
  color: #c8c5c5;
  font-size: 18px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .about {
    margin: 5rem 0;
  }
}

.grid {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .grid {
    display: flex;
  }
}

.avatar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .avatar {
    height: unset;
    order: 1;
    margin-left: 3rem;
  }
}

.avatar svg {
  height: 200px;
  margin: 10px auto;
}

@media screen and (min-width: 1024px) {
  .avatar svg {
    height: unset;
  }
}

.text__box {
  padding: 1.5rem;
  background-color: var(--black);

  box-shadow: 0px 7px 4px 2px rgba(0, 0, 0, 0.2);

  border-radius: 1rem;

  margin-bottom: 1rem;
}

.text__box h2 {
  color: var(--aqua);
  margin-bottom: 0.5rem;
}

.tech {
  display: flex;
  align-items: center;
}

.js,
.css {
  list-style: none;
}

.css {
  margin-left: 2rem;
}

.tech li {
  margin-top: 10px;
  color: var(--pink);
}

.bottom__nav {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .bottom__nav {
    justify-content: unset;

    position: absolute;
    bottom: 10%;
    right: 10%;
  }
}

.bottom__nav a {
  font-size: 16px;
  margin-right: 15px;
  font-weight: bolder;
}
