@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sail&display=swap');

.landing__page {
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Text display */

.text__display {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.letteredName {
  color: var(--pink);
}

.letteredName span,
.profession span {
  transition: all ease 0.3s;
  font-size: 5rem;
}

@media screen and (max-width: 600px) {
  .letteredName span {
    font-size: 3rem;
  }

  .profession span {
    font-size: 2.5rem;
  }
}

.letteredName span:hover,
.profession span:hover {
  color: var(--aqua);
}

.profession {
  color: #b6b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator__star {
  margin: 0 10px;
}

/* Main cta */

.intro__button {
  min-width: 250px;
  background: none;

  border: none;
  outline: 1px solid var(--pink);

  background: none;
  color: var(--pink);
  font-size: 1rem;

  padding: 0.8rem 1.5rem;

  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.625rem;

  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
}

.intro__button:hover {
  color: var(--white);
}

.intro__button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  height: 100%;
  width: 100%;
  background: var(--pink);
  border-radius: 0.625rem;

  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);

  transform: scaleX(0);
}

.intro__button:hover::before {
  transform: scaleX(1);
}

/* Botttom nav */

/* .bottom__nav {
  position: absolute;
  bottom: 5%;
  right: 10%;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.bottom__nav a {
  font-size: 16px;
  margin-right: 15px;
  font-weight: bolder;
} */

/* floating objects styling */
.ring {
  position: absolute;
  left: 20%;
  top: 10%;
}

@media screen and (max-width: 600px) {
  .ring {
    position: absolute;
    left: -10%;
    top: 10%;
  }
}

.gender {
  position: absolute;
  top: 15%;
  right: 30%;
}

.bigBall {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1330px) {
  .bigBall {
    display: block;
    position: fixed;
    right: -20%;

    height: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .bigBall {
    display: block;
    position: fixed;
    right: -20%;
  }
}

.yellowBall {
  position: absolute;
  left: 10%;
  bottom: 35%;
}

@media screen and (max-width: 600px) {
  .yellowBall {
    height: 70px;
    bottom: 25%;
  }
}

.pinkBall {
  position: absolute;
  left: 15%;
  bottom: 10%;
}

@media screen and (max-width: 600px) {
  .pinkBall {
    height: 100px;
  }
}
